<!DOCTYPE html>

<html>

<head>

    <title>Website Monitor</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

    <h1>Website Status Dashboard</h1>

    <div class="controls">

        <button onclick="openModal()">

            ➕ Add Website

        </button>

        <input
                id="interval"
                type="number"
                min="1"
                value="10">

        <button onclick="changeInterval()">

            Update Interval

        </button>

        <button onclick="loadData()">

            Refresh

        </button>

    </div>

    <div id="dashboard"></div>

</div>


<!-- Popup Modal -->

<div id="websiteModal" class="modal">

    <div class="modal-content">

        <h2>Add Website</h2>

        <input
                id="websiteName"
                type="text"
                placeholder="Website Name">

        <input
                id="websiteUrl"
                type="text"
                placeholder="https://example.com">

        <p id="urlError"></p>

        <div class="modal-buttons">

            <button onclick="closeModal()">

                Cancel

            </button>

            <button onclick="submitWebsite()">

                Add

            </button>

        </div>

    </div>

</div>


<script src="/static/script.js"></script>

</body>

</html>
