body{

font-family:sans-serif;

background:#1b1b1b;

color:white;
}

.container{

width:90%;

margin:auto;
}

.controls{

display:flex;

gap:10px;

margin-bottom:30px;
}

input{

padding:10px;

font-size:16px;
}

button{

padding:10px 20px;

cursor:pointer;
}

.card{

background:#2b2b2b;

padding:20px;

margin:10px 0;

border-radius:10px;
}

.online{

border-left:10px solid green;
}

.offline{

border-left:10px solid red;
}